@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.site-body {
    width: 100%;
}

.primary-body-section {
    @include flex-center;
    width: 100%;
    margin-bottom: 217px;
    padding-top: 25px;

    &--no-margin {
        margin-bottom: 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: $maxcontent-width;
        overflow: hidden;

        &--reverse {
            flex-direction: row-reverse;
            align-items: flex-end;
        }
    }

    &__body {
        margin-top: 1.5rem;
        width: 50%;

        &--theApp {
            margin-bottom: 6rem;
            margin-left: 6rem;
        }
    }

    &__title {
        color: $primary-color1;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
    }

    &__description {
        color: $secondary-color1;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;

        &--contact {
            width: 82%;
        }
    }

    &__icon-container {
        @include flex-center;
        margin-top: 4rem;
    }

    &__icon {

    }

    &__aside {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        &--reverse {
            justify-content: flex-start;
        }
    }

    &__figure {
        margin: 0;
        overflow: hidden;
    }

    &__image {

        &--about {
            object-position: 35px 0px;
        }

        &--contact {
            width: 500px;
        }
    }

    &__button-container {
        margin-top: 78px;
        width: 100%;
        display: flex;
    }

    &__button {
        padding: 1rem 4.5rem;
        text-decoration: none;
        color: $secondary-color1;
        background-color: $secondary-color5;
        border-radius: 5px;
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        transition: 0.3s;

        &:hover {
            color: $secondary-color5;
            background-color: $secondary-color1;
        }

        &--form-submit {
            border: none;
        }

        &--form-cancel {
            border: none;
        }
    }

    &__form {
        width: 50%;
        margin-top: 24px;
        height: 365px;
        background-color: $secondary-color5;
        border-radius: 5px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__label {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $secondary-color1;
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        margin-bottom: 2rem;

        &--email {
            margin: 0;
        }
    }

    &__input {
        width: 100%;
        margin-top: 10px;
        height: 2.5rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        color: $primary-color1;

        &::placeholder {
            color: $primary-color1;
        }

        &:focus {
            outline: none;
            background-color: $secondary-color6;
        }
    }

    &__form-button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}