@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.primary-header {
    @include flex-center;
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px);  
    // background-color: rgba(255, 255, 255, 0.7);
    
    // box-shadow: 0px 3px 3px rgba(245, 184, 61, 0.25);

    &__container {
        display: flex;
        align-items: center;
        width: $maxcontent-width;
        height: 74px;
        justify-content: space-between;
    }

    &__logo-container {
        display: flex;
        align-items: center;
        width: 400px;
        height: 100%;
        // background-color: white;
    }

    &__logo-text {
        margin: 0;
        font-size: 2rem;
        font-weight: 700;
        color: $secondary-color1;
    }

    &__logo-image {
        height: 50px;
        margin-right: 1rem;
    }

    &__nav {
        display: flex;
        width: 300px;
    }

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__item {
        
    }

    &__link {
        color: $secondary-color1;
    }
}