$primary-color1: #3F3F3F;
$primary-color2: #FFFFFF;

$secondary-color1: #08605F;
$secondary-color2: #3D9537;
$secondary-color3: #E07733;
$secondary-color4: #F18701;
$secondary-color5: #F5B83D;
$secondary-color6: #FEF8EC;

$maxcontent-width: 1020px;